<section aria-label="Kontaktformular">
    <div class="container">
        <article>
            <hgroup>
                <h2>{{ .Header }}</h2>
                <h3>{{ .Description }}</h3>
            </hgroup>
            <form hx-post="/contact" >
                <div class="grid">

                    <label for="firstname">
                        {{ .Firstname }}
                        <input type="text" id="firstname" name="firstname" placeholder="{{ .Firstname }}" required>
                    </label>

                    <label for="lastname">
                        {{ .Lastname }}
                        <input type="text" id="lastname" name="lastname" placeholder="{{ .Lastname }}" required>
                    </label>

                </div>

                <label for="email">{{ .Email }}</label>
                <input type="email" id="email" name="email" placeholder="{{ .Email }}" required>

                <label for="message">{{ .Message }}</label>
                <textarea id="message" name="message" placeholder="{{ .Message }}" rows="5" required maxlength="1000" style="resize:vertical"></textarea>

                <button type="submit">{{ .SendText }}</button>
            </form>
        </article>
    </div>
</section>
