<footer class="container">
    <small>
        <div class="grid">
            <div>
                <a href="/impressum">{{ .ImprintText }}</a>
            </div>
            <div>
                <a href="/legal">{{ .LegalPolicyText }}</a>
            </div>
            <div>
                <a href="/privacy">{{ .PrivacyPolicyText }}</a>
            </div>
            <div>
                <figure class="container" >
                    <img src="/static/sapphire_batch.png" alt="SUSE Sapphire batch" width="50%"/>
                </figure>
            </div>
        </div>
    </small>

    <script src="static/theme-switcher.js"></script>
</footer>
