<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Coflnet</title>
    <meta name="description" content="Homepage of coflnet.com" />

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>

<body>
    <!-- Hero -->
    <div class="hero">
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href="./"><strong>{{ .CompanyName }}</strong></a>
                </li>
            </ul>
            <ul>
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link">{{ .ThemeSwitchText }}</summary>
                        <ul role="listbox">
                            <li><a href="#" data-theme-switcher="auto">{{ .ThemeSwitchAuto }}</a></li>
                            <li><a href="#" data-theme-switcher="light">{{ .ThemeSwitchLight }}</a></li>
                            <li><a href="#" data-theme-switcher="dark">{{ .ThemeSwitchBlack }}</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <a href="https://blog.coflnet.com" target="_blank"><strong>Blog</strong></a>
                </li>
            </ul>
        </nav>

        <header class="container">
            <hgroup>
                <h2>{{ .CompanyName }}</h2>
                <h3>{{ .CompanyDescription }}</h3>
            </hgroup>
        </header>
    </div>
    <!-- ./ Hero -->


</body>
