<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Coflnet</title>
    <meta
            name="description"
            content="Homepage of coflnet.com"
    />

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>

<body>
<!-- Hero -->
<div class="hero" data-theme="dark">
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="./" class="contrast" onclick="event.preventDefault()"
                ><strong>Coflnet</strong></a
                >
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://blog.coflnet.com" target="_blank"><strong>Blog</strong></a>
            </li>
        </ul>
    </nav>

    <header class="container">
        <hgroup>
            <h1>Coflnet</h1>
            <h2>A classic company or blog layout with a sidebar</h2>
        </hgroup>
    </header>
</div>
<!-- ./ Hero -->


<!-- Minimal theme switcher -->
<script src="static/theme-switcher.js"></script>
</body>
