<!DOCTYPE html>
<html lang="en">

{{ template "header.html" . }}

<!-- Main -->
<main class="container">

        {{ range $project := .Projects }}
        <!-- centered figure -->
        <a href="https://sky.coflnet.com" target="_blank">
        <figure class="container" >
            <img src="{{ $project.ImagePath }}" alt="Corporate Image" class="center"/>
        </figure>

        </a>
        <style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%
}
</style>

        <section>
            <hgroup>
                <a href="https://sky.coflnet.com" target="_blank"> <h2>{{ $project.Title }}</h2> </a>
            </hgroup>
            <p style="white-space: break-spaces;">{{ $project.Description }}</p>
        </section>
        {{end}}
</main>

<!-- Subscribe <-</-->
{{ template "contact-form.html" .ContactFormData }}

<!-- ./ Subscribe -->

{{ template "footer.html" . }}

</body>
</html>
