<!DOCTYPE html>
<html lang="en">

{{ template "header.html" . }}

<main class="container">
     <article>
         <hgroup>
             <h2>{{ .ImprintText }}</h2>
         </hgroup>

        <p>
            <strong>Angaben gemäß § 5 TMG:</strong>
        </p>

        <p>
            <strong>Coflnet GmbH</strong><br>
            Dorfstr 27a<br>
            84163 Marklkofen<br>
        </p>
     </article>
     <article>
         <hgroup>
            <h2></h2>
         </hgroup>

        <p>
            <a href="mailto:support@coflnet.com">
                <strong>support@coflnet.com</strong><br>
            </a>
        </p>

        <p>
                <iframe src="https://discord.com/widget?id=267680588666896385&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </p>
     </article>
</main>


<!-- ./ Subscribe -->

{{ template "footer.html" . }}

</html>
