<!DOCTYPE html>
<html lang="en">

{{ template "header.html" . }}

<!-- Main -->
<main class="container">

        {{range $project := .Projects }}
        <section>
            <hgroup>
                <h2>{{ $project.Title }}</h2>
            </hgroup>
            <p>
                {{ $project.Description }}
            </p>
        </section>
        <aside>
            <figure>
                <img src="{{ $project.ImagePath }}" alt="Corporate Image" height="800" width="600"/>
                <figcaption>
                    {{ $project.ImageCaption }}
                </figcaption>
            </figure>
        </aside>
        {{end}}
</main>

<!-- Subscribe <-</-->
{{ template "contact-form.html" .ContactFormData }}

<!-- ./ Subscribe -->

{{ template "footer.html" . }}

</body>
</html>
